@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url('/font/regular.woff');
  font-family: 'edit-regular';
  font-weight: regular;
}
@font-face {
  src: url('/font/italic.woff');
  font-family: 'edit-italic';
  font-weight: regular;
}

@layer base {
  html {
    @apply font-edit-regular;
  }
}
